/*navbar styling*/
.nav-box-color {
    background-color: #DB8248;
}

.nav-color {
    background-color: #8B272A;
}

.title-text-color {
    color: #F5FBF5;
}


/*responsive toggle bar for mobile compatibility*/
.custom-toggler .navbar-toggler-icon {
    border-color: #DB8248;
    background-image: url(../assets/pinpng.com-hamburger-menu-icon-png-1639439.png);
    z-index: 1;
    background-color: #8B272A;
}


/*Section photos and grid formatting*/
img {
    float: left;
    padding: 15px;
    border-radius: 5%;
}

.about-me-img {
    max-width: 350px;
}

.img-br {
    max-width: 350px;
}

.img-bottom {
    width: 100%;
}

.box {
    background-color: #b8c8cf;
    box-shadow: inset;
}

.top-col {
    margin-top: 15px;
}

.bottom-col {
    margin-bottom: 150px;
}


/*Section background for index and contact, not for portfolio, too distracting for the photos*/
.section-bg {
    background-image: url(../assets/pexels-maria-tyutina-3215407.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



/*Contact form styling*/
.btn-color {
    background-color: #101e42;
    ;
}

.dark-blue-color {
    background-color: #101e42;
    ;
}


/*Footer styling*/
footer {
    background-color: #101e42;
    border-top: 10px;
    border-top-color: #b8c8cf;
    padding-bottom: 45px;
    margin-top: 0;
    position: relative;
    border-top-style: solid;
}