/*navbar styling*/

.nav-box-color {
    background-color: #DB8248;
}

.nav-color {
    background-color: #8B272A;
}

.title-text-color {
    color: #F5FBF5;
}

section img {
    float: left;
    padding-right: 15px;
}

.box {
    background-color: #DB8248;
    box-shadow: inset;
}

.top-col {
    margin-top: 15px;
}

.bottom-col {
    margin-bottom: 150px;
}



section {
    background-image: url(../assets/pexels-maria-tyutina-3215407.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #8B272A;
    border-top: 10px;
    border-top-color: #DF8388;
    padding-bottom: 45px;
    margin-top: 0;
    position: relative;
    border-top-style: solid;
}


/*Contact form styling*/

.btn-color {
    background-color: #8B272A;
    ;
}

/*
.btn-text {
    color: #DF8388;
}
*/