* {
    box-sizing: border-box;
}

header {
    overflow-x: hidden;
}

.nav-box-color {
    background-color: rgb(15, 121, 89);
}

.title-text-color {
    color: rgb(15, 100, 170);
}

section img {
    float: left;
    padding-right: 15px;
}

.box {
    background-color: aliceblue;

}

.top-col {
    margin-top: 15px;
}

.bottom-col {
    margin-bottom: 150px;
}



section {
    background-image: url(../assets/pexels-henry-&-co-1939485.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: rgb(15, 121, 89);
    border-top: 10px;
    border-top-color: rgb(15, 100, 170);
    padding-bottom: 45px;
    margin-top: 0;
    position: relative;
    border-top-style: solid;
}


/*Contact form styling*/

.btn-color {
    background-color: rgb(15, 100, 170);
    ;
}